@import "buttons";

@import "fields";

@import "uyg-form";

.login-form {
  h1 {
    font-family: $font__main;
    font-weight: lighter;
    text-align:center;
  }
  #loginForm {
  display: flex;
  flex-direction: column;
  
  p {
    margin: .5rem 0;
  }
  input[type=text],  input[type=password] {
    width:100%;
    font-size: 1.25em;
    font-weight: lighter;
    font-family: $font__main;
    margin-bottom: 1em;
    padding: .45em 1.75em;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
    color: #222;
    text-overflow: ellipsis;
    border-radius: 50px;
  }
  button {
    margin: 1rem auto;
    max-width:150px;
    font-size: .9em;
  }
}
  @media screen and (min-width: 405px) {
  width: 400px;
  margin: 0 auto;
  margin-top: 20%;
}
}
.hide-form {
  display:none;
}
