.uyg-page {
  display: grid;
  grid-template-columns: 12fr 6fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  img {
    height: 100vh;
    position: fixed;
    object-fit: cover;
  }
}

.uyg-wrapper {
  overflow: auto;
  height: 100vh;
}

.form-fullscreen {
  position: relative;
}

.fs-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: none;
    width:100%;
}

.fs-controls {
  display: flex;
    position: relative;
    flex-direction: column;
    width: 200px;
    margin: 0 auto 2rem;

}

.display-none {
  display: none;
}

.opaque-input-selected {
  &:after {
    opacity: 1 !important;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width:400px;
  button {
    max-width:200px;
    font-size: $font__button-text;
    font-family: $font__main;
    font-weight: lighter;
  }
  .uyg-back {
    background:transparent;
    margin: 1rem;
  }
  // @media screen and (min-width: 768px) {
  //   height: 300px;
  // }
}

.uyg-button {
  background: linear-gradient(45deg, $brand__purple, $brand__pink, $brand__orange);
  font-size: $font__button-text;
  font-family: $font__main;
  font-weight: lighter;
  color: #fff;
  margin: 1rem;
  padding: .8rem 2.2rem;
  border-radius: 50px;
}

.form-overview {

  font-size: 1.15rem;
  li {
    display: block !important;

  }
  li > * {
    text-align: left !important;
    margin-left:0 !important;
  }
}

input[type="email"], input[type="text"] {
  max-width:600px;
  margin: 0 auto 1em !important;
}


.position-absolute-overview {

  height: auto;
  margin-top: 175px;
  margin-bottom: 100px;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#steps {
  margin-top: 2rem;
  font-size: .4em;
}

/// custom input
.colour-container {
  display:flex;
    flex-direction: row;
    flex-wrap:wrap;

.container {
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  opacity:.75;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  // background-color: #ccc;
  opacity:1;
  box-shadow: 2px 2px 5px 0px rgba(163,163,163,1);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  // background-color: #2196F3;
  opacity:1;
  box-shadow: 2px 2px 5px 0px rgba(163,163,163,1);
}

}

.age-custom-radio {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  label,input {
    padding:0 !important;
    margin:0 !important;
    
    height:30px;
    
  }
  input {
    z-index: 999 !important;
    position: relative;
    opacity: 0;
    width:30px !important;
  }
  .checkmark {
    width:30px !important;
    height:30px !important;
    border-radius:50px;
  }
.container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 75px !important;
position: relative;
height: 30px;
width: 80px !important;
margin: 10px !important;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
font-size: .4em;
}

/* Hide the browser's default radio button */
.container input {
position: absolute;
opacity: 0;
bottom:0;
cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: relative;
display: block;
top: 0;
left: 0;
height: 30px;
width: 30px;
opacity:.75;
background: $brand__pink;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
// background-color: #ccc;
opacity:1;
box-shadow: 2px 2px 5px 0px rgba(163,163,163,1);
border: 3px solid $brand__orange;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
// background-color: #2196F3;
opacity:1;
box-shadow: 2px 2px 5px 0px rgba(163,163,163,1);
border: 3px solid $brand__orange;
}
}

.position-absolute {
  position:absolute!important;
}

#submitButton {
  position: sticky;
  bottom: 50px;
  left: 100%;
  font-size: .6em;
  padding: .75em 1.25em;
}