$font__main: 'Open Sans', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__form-label: 2em;
$font__form-input: 1.5em;
$font__button-text: .3em;
$font__body-text: .3em;